<!-- <h1>hi sir</h1> -->
<%   if(success.length >0){%>
    <div class="alert alert-success col-md-6 offset-md-3"><%= success %></div>
    
<%  }%>


<!-- failer  -->
 <%   if(error.length >0){%>
    <div class="alert alert-danger col-md-6 offset-md-3"><%= error %></div>
    
<%  }%>