<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
            <i class="fa-brands fa-github"></i>
        </div>

        <div>&copy;GoExplore Private Limited</div>
        <p><i>Dev by Nitendra nit mishra</i></p>

        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Tearm</a>
        </div>
    </div>
</footer>