<% layout("/layouts/boilerplate") %>

 <div class="row mt-3" >
    <h4>Login on GoExplore</h4>
        <div class="col-lg-6 offset-md-3">
            <form action="/signup/login" method="POST" novalidate class="needs-validation">
                
                  <div class="mb-3">
             <label for="username" class="form-label">UserName</label>
        <input name="username" type="text" placeholder="Enter Your username" class="form-control" id="username" required>

            <!--when give something title then come up msg -->
            
    </div>

       

           <div class="mb-3">
             <label for="password" class="form-label">Password</label>
        <input name="password" type="password" placeholder="Enter Your password" class="form-control" id="password" required>
            
    </div>

    <button class="btn btn-outline-primary px-4">Login</button>
            </form>

            </div>
            </div>